## 3. Feature Engineering

In [1]:
# Module import
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('../data (clean)/df_clean.csv')

In [2]:
df = df.drop(columns='Steuer (€)')
df.head()

,Marke,Modell,Baujahr,Getriebe,Kilometerstand,Kraftstoffart,Verbrauch (l/100km),Motorgröße (l),Preis (€)
0,Audi,A1,2017,Manuell,25322,Benzin,4.25,1.4,14375.0
1,Audi,A6,2016,Automatik,58262,Diesel,3.66,2.0,18975.0
2,Audi,A1,2016,Manuell,48193,Benzin,4.25,1.4,12650.0
3,Audi,A4,2017,Automatik,41765,Diesel,3.50,2.0,19320.0
4,Audi,A3,2019,Manuell,3215,Benzin,4.74,1.0,19895.0

- Kategorische Merkmale kodieren: Die kategorischen Merkmale wie Marke, Modell, Getriebe und Kraftstoffart müssen in numerische Werte umgewandelt werden.
- Daten aufteilen: Teilen Sie die Daten in Trainings- und Testsets auf, um das Modell zu validieren.
- Skalierung der Merkmale: Wenn nötig, können wir die numerischen Merkmale skalieren, um sie in einem ähnlichen Wertebereich zu halten.

In [3]:
from sklearn.preprocessing import LabelEncoder

# Liste der kategorischen Merkmale
categorical_features = ['Marke', 'Modell', 'Getriebe', 'Kraftstoffart']

# Wörterbuch, um die Encoder für jedes kategorische Merkmal zu speichern
encoders = {}

# Kodiere jedes kategorische Merkmal mit einem LabelEncoder
for feature in categorical_features:
    encoder = LabelEncoder()
    df[feature] = encoder.fit_transform(df[feature])
    encoders[feature] = encoder

# Zeige die ersten paar Zeilen des kodierten Datensatzes an
df.head()

,Marke,Modell,Baujahr,Getriebe,Kilometerstand,Kraftstoffart,Verbrauch (l/100km),Motorgröße (l),Preis (€)
0,0,12,2017,2,25322,1,4.25,1.4,14375.0
1,0,17,2016,0,58262,2,3.66,2.0,18975.0
2,0,12,2016,2,48193,1,4.25,1.4,12650.0
3,0,15,2017,0,41765,2,3.50,2.0,19320.0
4,0,14,2019,2,3215,1,4.74,1.0,19895.0

In [4]:
encoders

{'Marke': LabelEncoder(),
 'Modell': LabelEncoder(),
 'Getriebe': LabelEncoder(),
 'Kraftstoffart': LabelEncoder()}

In [5]:
from joblib import dump

# Speichern Sie den kodierten DataFrame als CSV-Datei
csv_file_path = '../model/encoded_data.csv'
df.to_csv(csv_file_path, index=False)

# Speichern Sie die Encoder-Objekte mit joblib
encoders_file_path = '../model/encoders.joblib'
dump(encoders, encoders_file_path)

csv_file_path, encoders_file_path

('../model/encoded_data.csv', '../model/encoders.joblib')