## 3. Feature Engineering

In [147]:
import pandas as pd

In [148]:
df = pd.read_csv('../data (clean)/df_clean.csv')
df = df.drop(columns='Steuer (€)')
df

,Marke,Modell,Baujahr,Getriebe,Kilometerstand,Kraftstoffart,Verbrauch (l/100km),Motorgröße (l),Preis (€)
0,Audi,A1,2017,Manuell,25322,Benzin,4.25,1.4,14375.00
1,Audi,A6,2016,Automatik,58262,Diesel,3.66,2.0,18975.00
2,Audi,A1,2016,Manuell,48193,Benzin,4.25,1.4,12650.00
3,Audi,A4,2017,Automatik,41765,Diesel,3.50,2.0,19320.00
4,Audi,A3,2019,Manuell,3215,Benzin,4.74,1.0,19895.00
...,...,...,...,...,...,...,...,...,...
97704,Vw,Eos,2012,Manuell,119091,Diesel,3.99,2.0,6888.50
97705,Vw,Fox,2008,Manuell,141786,Benzin,5.08,1.2,2068.85
97706,Vw,Fox,2009,Manuell,112653,Benzin,5.60,1.4,1828.50
97707,Vw,Fox,2006,Manuell,133098,Benzin,5.08,1.2,1437.50
97708,Vw,Fox,2007,Manuell,119091,Benzin,5.08,1.2,2639.25

In [149]:
from sklearn.preprocessing import LabelEncoder

# Dictionary, um die Mappings für jeden LabelEncoder zu speichern
label_encoders = {}

# Anwenden des LabelEncoders auf kategorische Spalten
for column in ['Marke', 'Modell', 'Getriebe', 'Kraftstoffart']:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

In [150]:
df

,Marke,Modell,Baujahr,Getriebe,Kilometerstand,Kraftstoffart,Verbrauch (l/100km),Motorgröße (l),Preis (€)
0,0,12,2017,2,25322,1,4.25,1.4,14375.00
1,0,17,2016,0,58262,2,3.66,2.0,18975.00
2,0,12,2016,2,48193,1,4.25,1.4,12650.00
3,0,15,2017,0,41765,2,3.50,2.0,19320.00
4,0,14,2019,2,3215,1,4.74,1.0,19895.00
...,...,...,...,...,...,...,...,...,...
97704,8,61,2012,2,119091,2,3.99,2.0,6888.50
97705,8,66,2008,2,141786,1,5.08,1.2,2068.85
97706,8,66,2009,2,112653,1,5.60,1.4,1828.50
97707,8,66,2006,2,133098,1,5.08,1.2,1437.50
97708,8,66,2007,2,119091,1,5.08,1.2,2639.25

In [151]:
label_encoders

{'Marke': LabelEncoder(),
 'Modell': LabelEncoder(),
 'Getriebe': LabelEncoder(),
 'Kraftstoffart': LabelEncoder()}

In [152]:
# Speicherpfad für die transformierte CSV-Datei
transformed_csv_path = '../model/df_transformed.csv'

# Speichern des transformierten Datensatzes als CSV-Datei
df.to_csv(transformed_csv_path, index=False)

transformed_csv_path

'../model/df_transformed.csv'

In [153]:
import pickle

# Speicherpfad für die LabelEncoder-Objekte
label_encoders_path = '../model/label_encoders.pkl'

# Speichern der LabelEncoder-Objekte mit pickle
with open(label_encoders_path, 'wb') as handle:
    pickle.dump(label_encoders, handle, protocol=pickle.HIGHEST_PROTOCOL)

label_encoders_path

'../model/label_encoders.pkl'