## 3.Feature Engineering

In [18]:
# Module import
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('../data (clean)/df_clean.csv')
df.head()

,Marke,Modell,Baujahr,Preis (£),Getriebe,Kilometerstand,Kraftstoffart,Steuer (£),Verbrauch (l/100km),Motorgröße (l)
0,Audi,A1,2017,12500,Manuell,25322,Benzin,150.0,4.25,1.4
1,Audi,A6,2016,16500,Automatik,58262,Diesel,20.0,3.66,2.0
2,Audi,A1,2016,11000,Manuell,48193,Benzin,30.0,4.25,1.4
3,Audi,A4,2017,16800,Automatik,41765,Diesel,145.0,3.50,2.0
4,Audi,A3,2019,17300,Manuell,3215,Benzin,145.0,4.74,1.0