## 4. Modellauswahl

In [2]:
import pandas as pd

X = pd.read_csv('../model/feature_matrix.csv')
y = pd.read_csv('../model/target_variable.csv')

In [3]:
X

,Marke,Modell,Baujahr,Getriebe,Kilometerstand,Kraftstoffart,Verbrauch (l/100km),Motorgröße (l),Steuer (€),Alter
0,0,9,2017,2,25322,1,4.25,1.4,172.50,6
1,0,14,2016,0,58262,2,3.66,2.0,23.00,7
2,0,9,2016,2,48193,1,4.25,1.4,34.50,7
3,0,12,2017,0,41765,2,3.50,2.0,166.75,6
4,0,11,2019,2,3215,1,4.74,1.0,166.75,4
...,...,...,...,...,...,...,...,...,...,...
97704,8,57,2012,2,119091,2,3.99,2.0,143.75,11
97705,8,62,2008,2,141786,1,5.08,1.2,166.75,15
97706,8,62,2009,2,112653,1,5.60,1.4,230.00,14
97707,8,62,2006,2,133098,1,5.08,1.2,172.50,17
97708,8,62,2007,2,119091,1,5.08,1.2,166.75,16

In [4]:
y

       Preis (€)
0       14375.00
1       18975.00
2       12650.00
3       19320.00
4       19895.00
...          ...
97704    6888.50
97705    2068.85
97706    1828.50
97707    1437.50
97708    2639.25

[97709 rows x 1 columns]